    <footer>
      <div class="container">
        <nav id="foot">
          <div id="social" class="footer-right">
            <li><img id="instagram" src="images/instagram.svg"/></li>
            <li><img id="facebook" src="images/facebook.svg"/></li>
            <li><img id="twitter" src="images/twitter.svg"/></li>
          </div>
        </nav>
        <div class="legal">
          <br>©ShaedyCult 2016
        </div>
      </div>
    </footer>
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
